.mainHeader {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background: transparent;
  z-index: 1000;
}
.logo {
  font-weight: 600;
}

.logoColor {
  color: var(--primary-color);
}
