/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #ce3faf;
  --primary-font-color: #181717;
  --secondary-font-color: rgba(99, 97, 97, 0.356);
  --background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.356),
    rgba(211, 118, 191, 0.192)
  );
  --secondary-background: #d376bfe1;

}
body {
  background: var(--background);
}
button,
.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link {
  color: var(--primary-font-color);
  font-weight: 400;
}
.nav-link:hover {
  color: var(--primary-color);
}
